{{textarea value=newNote placeholder="Type a note here"}}

<button {{action "createNote"}}>Save Note</button>
<br>
Your notes:
<div id="list-notes">
  {{#each note in model}}
  <li>
    {{note.content}}
    <button {{action "deleteNote" note}}>Delete Note</button>
  </li>
  {{/each}}
</div>
